
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("Proyecto Académico", "Index", "Estudiante", null, new { @class = "navbar-brand" })
        </div>
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Estudiantes", "Index", "Estudiante")</li>
            <li>@Html.ActionLink("Docentes", "Index", "Docente")</li>
            <li>@Html.ActionLink("Cuatrimestres", "Index", "Cuatrimestre")</li>
            <li>@Html.ActionLink("Cursos", "Index", "Curso")</li>
            <li>@Html.ActionLink("Evaluaciones", "Index", "Evaluacion")</li>
            <li>@Html.ActionLink("Estadísticas", "Index", "Estadisticas")</li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Iniciar sesión", "Login", "Auth")</li>
            <li>@Html.ActionLink("Salir", "Logout", "Auth")</li>
        </ul>
    </div>
</nav>
